{% extends 'layout.html' %}
{% block content %}
<h1>Login</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        <lable>Username</lable>
        {{ form.username(size=80) }}
        {% for error in form.errors.username %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}<br>
    </p>
    <p>
        <lable>Password</lable>
        {{ form.password(size=80) }}
        {% for error in form.errors.password %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}<br>
    </p>
    <p><input type="submit" value="Login"></p>
</form>
{% endblock %}